
.container{
	display: grid;
	gap: 20px;
	grid-template-columns: auto auto auto;
}
.wallets{
	.section{
		width: 300px;

		header {
			height: 60px;
		}
		&__items {
		  row-gap: 10px;
	
			& > span {
				font-size: 20px;
				font-weight: 500;
				text-align: center;
				margin-top: 0px;
				margin-bottom: 0px;
				color: #36db59;
				
				&.locked {
					color: #ff5959;
				}
				> .MuiSvgIcon-root{
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}
.section {
	display: inline-block;
	width: 600px;
	border-radius: 12px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	
	header {
	  --start: 15%;
	  
	  height: 130px;
	  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 219, 89, .33) 10%, rgba(54, 219, 89, .33) 17%), linear-gradient(to right, #5bfa7c, #36db59);
	  color: #fff;
	  position: relative;
	  border-radius: 12px 12px 0 0;
	  overflow: hidden;
	  
	  .title {
		position: absolute;
		top: 50%;
		right: calc(var(--start) * .75);
		transform: translateY(-50%);
		text-transform: uppercase;
		margin: 0;
		
		span {
		  display: block;
		}
		
		&__top {
		  font-size: 24px;
		  font-weight: 700;
		  letter-spacing: 6.5px;
		}
		
		&__bottom {
		  font-size: 13px;
		  font-weight: 500;
		  letter-spacing: 3.55px;
		  opacity: .65;
		  transform: translateY(-2px);
		  margin-left: auto;
		  text-align: right;
		  max-width: 300px;
		  overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		}
	  }
	  
	  .icon {
		fill: #fff;
		opacity: .35;
		width: 50px;
		position: absolute;
		top: 50%;
		left: var(--start);
		transform: translate(-50%, -50%);
	  }
	  .button_config {
		display:block;
		margin-left:auto;
		background-color: #f3f4f6;
		border-radius: 0 0 0 12px;
		box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
	  }
	}
	
	&__items {
	  background-color: #fff;
	  border-radius: 0 0 12px 12px;
	  padding: 15px 15px 20px;
	  display: grid;
	  row-gap: 8px;

		& > span {
			display: block;
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 6.5px;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 10px;
		}

		& > span, .section__header {
			display: block;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 6.5px;
			text-align: start;
			margin-left: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	
	&__item {
	  display: grid;
	  grid-template-columns: 1fr 4fr 5fr;
	  align-items: center;
	  padding: 10px 30px 10px 10px;
	  overflow: hidden;
	  border-radius: 10px;
	  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
	  cursor: pointer;
	  transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
	  background-color: #fff;
	  
	  &:hover {
		transform: scale(1.2);
		box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
	  }
	
	  &__icon {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		box-shadow: 0 0 0 2px #ebeef3, 0 0 0 4px #f3f4f6;
	  }
	
	  &__name {
		color: #979cb0;
		font-weight: 600;
		font-size: 20px;
		letter-spacing: 0.64px;
		margin-left: 12px;
	  }
	  
	  &__value {
		font-weight: 500;
		font-size: 28px;
		text-align: right;
		
		& > span {
		  opacity: .8;
		  font-weight: 600;
		  font-size: 13px;
		  margin-left: 3px;
		}
	  }
	}
  }
  
.logo{
	width: 200px;
	height: 80px;
	position: fixed;
	background-color: #090909;
	top: 0;
	left: 0;
}
.menu{
	width: 100%;
	position: fixed;
	border-radius: 8px;
	background-color: #c9c9c9;
	position: fixed;
	top: 0;
	right: 0; 
	width: auto;
	padding: 20px;

	.menu-button{
		display:block;
		margin-left:auto;
	}
}
  
body {
	margin: 0;
	// background-color: #eaeaea;
	background-color: #090909;
	display: grid;
	height: 100vh;
	place-items: center;
	font-family: 'Source Sans Pro', sans-serif;
}
h1 {
	color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    .modal-container {
        display: block;
        position:fixed;
        width: 80%;
        height: 80%;
        background: white;
		border-radius: 8px;
		padding: 10px;
		overflow: hidden;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);

		.button-close{
			display:block;
			margin-left:auto;
		}

		.modal-main {
			display: flex;
			overflow: scroll;
			width: 100%;
			height: 90%;
			padding-top: 10px;
			padding-bottom: 10px;

			.input-item {
				width: 300px;
				margin-top: 5px;
				margin-bottom: 5px;
			}

			.input-group{
				display: inline;
				margin-left: auto;
				margin-right: auto;
				margin-top: 5px;
				margin-bottom: 5px;

				> .input-item {
					margin-right: 10px;
					margin-left: 10px;
				}
			}
		}
    }
}